h1 {
    color: lightpink;
    font-style: oblique;
  }

.note {
    color: 	#36454F;
    padding-top: 3px;
    font-size: 15px;
}

.error {
    color: red;
    background: pink;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }